@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&family=Itim&display=swap');
        *{
            /* font-family: 'Grandstander', cursive; */
            font-family: 'Itim', cursive;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .banner{
            position: relative;
            width: 100%;
            min-height: 100vh;
            padding: 0 100px;
            display: flex;
            align-items: center;
            background: linear-gradient(#404040,#151415);
        }
        .banner.active .logo{
            transform: scale(0);
            transform-origin: left;
        }
        .banner::before{
            content: '';
            position: absolute;
            top:0;
            left: 300px;
            width: 400px;
            height: 320px;
            background: #fa215e;
            z-index: 1;
            transition: 1s;
        }
        .banner.active::before{
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: #151415;
        }
        .banner::after{
            content: '';
            position: absolute;
            bottom:0;
            right: 100px;
            width: 400px;
            height: 200px;
            background: #aeff0f;
            z-index: 1;
            transition: 1s;
        }
        .banner.active::after{
            bottom: 0;
            right: 0;
            width: 50%;
            height: 100%;
            background: #151415;
        }
        header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index:1000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 100px;
        }
        header .logo{
            font-size:2.5em;
            text-transform: uppercase;
            color:#fff;
            font-weight: bolder;
            text-decoration:none;
            transition: 0.5s;
            transform-origin: right;
        }
        header .toggle{
            position: relative;
            width: 30px;
            height: 30px;
            background: url(../img/menu.png);
            background-repeat: no-repeat;
            background-position:center;
            background-size: 30px;
            cursor: pointer;
        }
        header .toggle.active{
            background: url(../img/close.png);
            background-repeat: no-repeat;
            background-position:center;
            background-size: 25px;
            cursor: pointer;
        }
        .content{
            position: relative;
            z-index: 2;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.5s;
            transform-origin: right;            
        }
        .banner.active .content{
            transform: scale(0);
            transform-origin: left;
        }
        .content .contentbox{
            max-width: 600px;
        }
        .content .contentbox h2{
            font-size:4em;
            color: #fff;
            line-height: 1em;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: .4s;
        }
        .content .contentbox p{
            font-size:1.2em;
            color: #fff;
            letter-spacing: 1px;
            margin: 20px 0;
        }
        .content .contentbox a{
            text-decoration:none;
            display: inline-block;
            color: #fff;
            padding: 10px 30px;
            text-transform: uppercase;
            transition: 0.5s;
            border: 1px solid #fff;
            font-weight: bold;
        }
        .content .contentbox a:hover{
            letter-spacing: 4px;
            background:#fff;
            color: #111;
        }
        .content .imgbox img{
            max-width: 100%;
            min-width: 400px;
        }
        .sci{
            position: absolute;
            bottom:20px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            transition: 0.5s;
            transform-origin: right;
        }
        .banner.active .sci{
            transform: scale(0);
            transform-origin: left;
        }
        .sci li{
            list-style:none;
        }
        .sci li a{
            display: inline-block;
            margin-left: 20px;
            filter:invert(1);
            transform: scale(.6);
            transition: .3s linear;       
        }
        .sci li img{
            transition: .3s linear;
        }
        .sci li:hover img,
        .sci li:hover a{
            transform: scale(.7) translateY(-10px);
        }
        .menu{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 2;
            visibility: hidden;
            opacity: 0;
            transition: .5s;
            transition-delay: 0s;
        }
        .menu li{
            list-style:none;
        }
        .menu li a{
            color: #fff;
            text-decoration: none;
            font-size:2em;
            text-transform: uppercase;
            font-weight: bold;
            transition: .3s;
        }
        .menu li:hover a{
            letter-spacing: 2px;
            color:#fa215e;
        }
        .banner.active .menu{
            visibility: visible;
            opacity: 1;
            transition-delay: .7s;
        }
        /* responsive part */

        @media(max-width: 991px)
        {
            header{
                padding: 20px 40px;
            }
            header .logo{
                font-size:2em;
            }
            .banner{
                padding: 40px;
                overflow: hidden;
            }
            .banner::before{
                top: 100px;
                left: 0;
                width:170px;
                height: 310px;
            }
            .banner::after{
                bottom: 0;
                right: 0;
                width:80px;
                height: 150px;
            }
            .content{ 
                flex-direction: column-reverse;          
                margin: 50px 0;
            }
            .content .contentbox{
                 max-width: 100%;
            }           
            .content .imgbox img{
                min-width: 280px;
            }
        }
        @media(max-width: 590px)
        {
             .content .contentbox h2{
                font-size:3em;
                letter-spacing: 0;
            }
        }
        @media(max-width: 390px)
        {
             .content .contentbox h2{
                font-size:2.4em;
               
            }
        }